html{}

.titlebar{display: flex;
  justify-content: center;}
/*header*/

header{display: flex;
  flex-direction: row;
  border: solid blue 2px;
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;}

  header nav {display: flex;
    flex-direction: row;
    justify-content: space-between;}

  .headleft {display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;}

  nav a{text-decoration: none;
    color: black;
    margin-left: 1em;}


/*banner*/

.banner{display: flex;
  flex-direction: row;
  border: solid green 2px;
  background-color: grey;}

  .banner img{width: 60%;
    padding: 32px 24px;}

  .bnrright{display: flex;
    flex-direction: column;
    justify-content: center;}

/*information*/

.information{display: flex;
  flex-direction: row;
  border: solid blue 2px;}

  .left{width: 60%;
  padding: 32px 24px;}

  .left img{width: 100%;}

  .right{width: 40%;
    display: flex;
    flex-direction: column;
    border: solid orange 3px;}

  .node{display: flex;
    flex-direction: row;
    border: 4px dotted darkgreen;}

  .node img{width: 35%;
    height: auto;
    padding: 1em;}

  .noder{display: flex;
    flex-direction: column;
    justify-content: center;}

  .noder a {text-decoration: none;}



/*course*/

.course{ display: flex;
  flex-direction: column;
  border: solid red 2px;}

  .coursebar{ display: flex;}

  .coursenode{border: solid yellow 2px;
    margin: 2em;}

  .coursenode img{width: 100%;
    padding: 0;}

/*thesis*/

.thesis {display: flex;
  flex-direction: column;
  border: solid purple 2px;}

  .thesisbar{display: flex;
  flex-direction: row;}



  .thsleft{border: solid brown 2px;
  width: 60%;}

  video {width: 100%;}
