html{color: #484848;
font-family: Oswald ,sans-serif;}

.titlebar{display: flex;
  justify-content: center;}
/*header*/

header{display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;}

  header nav {display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 32px;}

  .headleft {display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;}

  nav a{text-decoration: none;
    color: black;
    margin-left: 1em;}




  h1{font-size: 4em;}

  .headspace{height: 64px;}



  @media only screen and (min-width: 480px){ .smallnav{display: none;}  }

  @media only screen and (max-width: 480px){

    nav a{display: none;}

    .smallnav{display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;}

    .smallnav a{display: inline;}

    .headleft {display: none;}

  }

/*banner*/

.banner{
  display: flex;
  flex-direction: row;
  background-color: lightgrey;}

  .banner img{width: 60%;
    height: 100%;
    padding: 32px 24px;}

  .bnrright{display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 3em;}

  .bnrbtn{ background-color: darkgrey;
    text-decoration: none;
    border: none;
    color: white;
    width: 100%;
    padding: .5em 0;}

  .bnrbtn:hover{background-color: dimgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);  }

  @media only screen and (max-width: 1065px){
    h1{ font-size: 3em;}  }

  @media only screen and (max-width: 870px){
    h1{ font-size: 2em;}  }

  @media only screen and (max-width: 480px){
    .banner img{width: 100%;
      padding: 0px 0px 0px 0px;}
    .banner {flex-direction: column;}

    .bnrright{padding: 32px 16px;}
  }


/*information*/

.information{display: flex;
  flex-direction: row;}

  .left{width: 60%;
    padding: 32px 24px;}

  .left img{width: 100%;}

  .left p{margin-top: 24px;
    margin-bottom: 32px;}

  .right{width: 40%;
    display: flex;
    flex-direction: column;}

  .information .node:nth-child(3n+3)
    {background-color: lightgrey;}

  .node{display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px solid lightgrey;
    margin: 1px;}

  .node img{width: 35%;
    height: 100%;
    padding: 1em;}

  .noder img{display: none;}

  .noder{display: flex;
    flex-direction: column;
    justify-content: center;}

  .noder a {text-decoration: none;}

  h4 {font-weight: bold;}

  @media only screen and (max-width: 480px){
    .information .left{display: none;}

    .information .right {width: 100%;}

    .node img{display: none;}

    .noder img{display: block;
      height: 100%;
      width: 100%;
      object-fit: contain;
      padding: 16px;}
  }

/*course*/

.course{ display: flex;
  flex-direction: column;
  background-color: lightgrey;}

  .coursebar{ display: flex;}

  .coursenode{background-color: white;
    margin: 2em;
    box-shadow:  0 2px 4px rgba(0, 0, 0, .5); }

  .coursenode img{width: 100%;
    padding: 0;}

  .coursetext{margin: 16px 16px 24px 16px;}
/*thesis*/

.thesis {display: flex;
  flex-direction: column;}

  .thesisbar{display: flex;
  flex-direction: row;}

  .thesis .node:nth-child(3n+1){background-color: lightgrey;}

  .thsleft{border: solid brown 2px;
  width: 60%;}

  video {width: 100%;}
